/*
!.gitignore
!README.md
!LICENSE
!setup
setup/setup_def_custom.bash
!.bashrc_home
!.gitconfig
!.vimrc
!.tmux.conf
!.config/i3/config
!Pictures/background.png
!workspace
!data-store
!bin
bin/multiwerf
